<form method="POST" action="/posts">
<h3>Post Name: <input type="text" name="posts[name]" id="name"></h3>
<h3>Content: <input type="text" name="posts[content]" id="content"></h3>
<input type="submit" id="submit">
</form>